[bumpversion]
current_version = 0.7.6
part = patch

commit = True
tag = True
message = "Bump version: {current_version} -> {new_version}"


[bumpversion:file:setup.py]

[bumpversion:file:docs/conf.py]
