*~
*.pyc
.tox/*
build/
dist/
docs/*.html
htmlcov
dk.egg-info/
docs/_build
*.rst#
*.coverage
atlassian-ide-plugin.xml
.idea/workspace.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
dk.svg
pypi-docs.zip
.idea/dk.iml
index.html
tests/dksession-test.db
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/deployment.xml
.md5
.listscore6
dk-pylint-tidy*.html
.cache/v/cache/lastfailed
dk/identifiers/tmp.txt
*.lintscore6
