ipaddr==2.1.11

# compatibility
six==1.5.2

# building documentation
Sphinx==1.2.3
docutils==0.12

# recursive requirements of above
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
colorama>=0.3.2
execnet>=1.2.0
